
<h2 mat-dialog-title>Nouveau mot de passe</h2>

<div class="container__form">
  <div class="alert-danger" role="alert" *ngIf="errorMessage != null">{{errorMessage}}</div>
  <mat-dialog-content>
    <form class="form" [formGroup]="newPasswordForm">
      <label for="password">Mot de passe</label>
      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"
        name="password" />
      <label for="password">Confirmation</label>
      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="repeatPassword"
        name="repeatPassword" />
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fas" [ngClass]="{
          'fa-eye-slash': !fieldTextType,
          'fa-eye': fieldTextType
        }" (click)="toggledEye()"></i> </span>
      </div>
    </form>
    
  </mat-dialog-content>
</div>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="updateAndClose()">Enregistrer</button>
</mat-dialog-actions>
