@import url(../../../../_styles/fonts.scss);



.mat-dialog-title{
  font-family: 'Avenir Bold';
  font-size: 38px;
}

.alert-danger {
  color: red;
  font-family: "Avenir Bold";
}

.mat-dialog-content{
  
  .form {
    display:flex;
    flex-direction: column;
    height: auto;

      input,select{
        padding: 9px;
        padding-left: 15px;
      }
      label{
        font-family: 'Avenir regular';
      }
      input{
        border: 1px solid black;
      }
  }

}

// @media screen and (min-width: 1024px) {

// }
