
<div class="container">
    <div class="column">
                <a href="https://octopus-ntw.com">Site de l'ONG</a>
                <div class="container__network">
                  <a href="https://www.facebook.com/octopus.ntw/">
                    <div class="material-icons">facebook</div>
                  </a>
                  <a href="mailto:octopus-ntw@gmail.com">
                    <div class="material-icons">email</div>
                  </a>
                </div>
                <p>4, rue de la coopérative</p>
                <p>67000 Strasbourg</p>
                <p>octopus-ntw@gmail.com</p>
                <p>03 12 34 56 78</p>
    </div>
    <div class="column">
        <p>Mentions légales</p>
        <p>Copyright</p>
    </div>
</div>
