<div class="container">
    <h2 class="title" mat-dialog-title>Modifier la commande</h2>
    <div class="material-icons" (click)="close()">
      close
      </div>
    <mat-dialog-content>
<form class="form" [formGroup]="editForm" action="" method="">
        
    <label for="qty">Quantité</label>
    <input formControlName="qty" id=""/>

</form>

</mat-dialog-content>

<div class="alert"  [class.alertShow]="error">{{alertMessage}}</div>
<mat-dialog-actions>
  <button class="btn" (click)="update()">Modifier</button>
</mat-dialog-actions>
</div>