@import url(../../../../_styles/fonts.scss);

.container {
  .title__page {
    font-family: "Avenir Bold";
    margin-left: 30px;
    font-size: 40px;
  }
  .alert {
    color: red;
    font-family: "Avenir Bold";
  }
  .form {
    display: flex;
    flex-direction: column;
    font-family: "Avenir Regular";
    padding: 30px;
    line-height: 35px;
    .input-group {
      display: flex;
      justify-content: space-between;
    }
    input {
      height: 40px;
      border: none;
    }
  }
  .btn {
    margin-top: 15px;
    margin-left: 30px;
  }
  .show {
    display: block;
  }
}
.logo {
  display: none;
}
.hide {
  display: none;
}
.block {
  display: block;
}
@media screen and (min-width: 1024px) {
  .container {
    margin-top: 20vh;
    .btn {
      margin-top: 20px;
    }
  }
  .logo {
    display: block;
    width: 200px;
    margin-left: 70%;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
}
