<div class="container">
  <div class="title__page">
    <p>Mot de passe oublié</p>
  </div>
  <form class="form" [formGroup]="recupForm">

    <label for="">Adresse mail</label>
    <input formControlName="mail" name="mail" class="input form-control" type="email">

  </form>
  <button class="btn" (click)="sendMail()" [disabled]="recupForm.invalid">Recevoir</button>
  <div class="form-group hide" [ngClass]="{'show': isClicked}">
    <form class="form" [formGroup]="newPasswordForm">
      <label for="">Entrez le code à 4 chiffres</label>
      <input formControlName="code" name="code" class="input form-control" type="number">
      <label for="password">Mot de passe</label>
      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"
        name="password" />
      <label for="password">Confirmation</label>
      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="repeatPassword"
        name="repeatPassword" />
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fas" [ngClass]="{
          'fa-eye-slash': !fieldTextType,
          'fa-eye': fieldTextType
        }" (click)="toggledEye()"></i> </span>
      </div>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="alertMessage != ''">
      <p>{{alertMessage}}</p>
    </div>
    <button class="btn" [disabled]="newPasswordForm.invalid" (click)="updatePassword()">Valider</button>
  </div>


  <div class="logo"><img src="../../../../assets/logo/logo.svg" alt="logo"></div>
</div>