
<div [style.height]="900" class="container__carousel">

  <mat-carousel class="mat-carousel"
    timings="1000ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="100%"
    proportion="50"
    slides="3"
    [loop]="true"
    [hideArrows]="true"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr">

    <mat-carousel-slide class="container__carousel-slides"
      #matCarouselSlide
      *ngFor="let bazar of bazars; let i = index"
      [image]="bazar.img"
      overlayColor="#00000040"
      [hideOverlay]="false">
    </mat-carousel-slide>
      <!-- mettre les images du produit par la suite  -->
      <!-- changer "slides" si besoin de plus de photo sur le diapo -->
  </mat-carousel>
</div>
<div class="container__description">

<h2>article 1</h2>
<div class="description"><p>{{bazar.description}}</p></div>

<div class="stock">
  <span>{{bazar.price}}{{bazar.dispo}}</span>
  <p>Commandez maintenant !</p></div>

    <button class="btn">Ajouter</button>
    <!-- <span class="material-icons">shopping_cart </span> -->


</div>
