@font-face {
  font-family: "Avenir Light";
  src: url(../../assets/Avenir/AvenirNextCondensed-UltraLight.ttf);
}

@font-face {
  font-family: "Avenir Regular";
  src: url(../../assets/Avenir/AvenirNextCondensed-Regular.ttf);
}

@font-face {
  font-family: "Avenir Bold";
  src: url(../../assets/Avenir/AvenirNextCondensed-Bold.ttf);
}

@font-face {
  font-family: "Octypo";
  src: url(../../assets/Font-octopus/Octypo-Regular.otf);
}
