@import url(../../../../../_styles/fonts.scss);
.container__block
{
  min-width: 320px;
  max-width: 400px;
  width: 30%;
  height: auto;
  margin-top: 130px;
  margin: 35px auto;
  font-family: 'Avenir regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  .material-icons{
    font-size: 150px;
    color: black;
    }
    h1{
    font-family:'Avenir bold';
    text-transform: uppercase;
    }
    p{
    text-align: center;
    margin-bottom: 15px;
    }
}
@media screen and (min-width: 1024px) {
  .container__block{
   padding-left:24vw;
   margin-top: 20vh;
   font-size:25px;
   width: 40%;
   p{
     font-size: 30px;
   }
  }

}
@media screen and (min-width: 769px) and (max-width: 970px){
 .container__block{
  h1{
    font-size: 42px;
  }
 }
}
